<div class="row">
  <div
    
    class="col-sm-7"
    style="border: solid black"
  >
    <table  class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of cartData">
        <tr>
          <th scope="row">1</th>
          <td>{{item.productName}}</td>
          <td>{{item.productDescription}}</td>
          <td>{{item.productPrice}}</td>
          <td>{{item.productQuantity}}</td>
          <td><button>remove to cart</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4" style="border: solid black">
    Summary
    <hr />
    <h4>Amount: $ {{pricesummary.price}}</h4>
    <h5>discount: $ {{pricesummary.discount}}</h5>
    <h5>Tax: $ {{pricesummary.tax}}</h5>
    <h5>delivery: $ {{pricesummary.delivery}}</h5>
    <hr />
    <h2>TOTAL: $ {{pricesummary.total}}</h2>
  </div>
</div>
