<div>
  <h1>Add Product</h1>
  <p style="color: green;">{{productMessage}}</p>
  <form #addProduct="ngForm" (ngSubmit)="addProductData(addProduct.value)">
    <div class="form-group">
      <label for="exampleInputProductName">Product Name</label>
      <input
        type="text"
        class="form-control"
        ngModel
        id="exampleInputProductName"
        aria-describedby="ProductName"
        placeholder="Product Name"
        name="productName"
      />
    </div>

    <div class="form-group">
      <label for="exampleInputProductDescription">Product Description</label>
      <textarea
        placeholder="Product Description"
        type="text"
        ngModel
        class="form-control"
        id="exampleInputProductDescription"
        aria-describedby="ProductDescription"
        name="productDescription"
      >
      </textarea>
    </div>

    <div class="form-group">
      <label for="exampleInputProductPrice1">Product Price</label>
      <input
        type="text"
        ngModel
        class="form-control"
        id="exampleInputProductPrice1"
        placeholder="Product Price"
        name="productPrice"
      />
    </div>

    <div class="form-group">
      <label for="exampleInputProductPrice1">Product Image</label>
      <input
        type="text"
        ngModel
        class="form-control"
        id="exampleInputProductImage1"
        placeholder="Product Image URL"
        name="productImage"
      />
    </div>

  

    <!-- <div class="form-group">
        <label for="exampleFormControlFile1">Product Image</label>
        <input
          type="file"
          ngModel
          class="form-control-file"
          id="exampleFormControlFile1"
          name="productImagee"
        />
      </div> -->

    <form>
      
    </form>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
