<div>
  <p style="color: green">{{ productMessage }}</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">product Description</th>
        <th scope="col">product Price</th>
        <th scope="col">product Image</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productFullList">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.productName }}</td>
        <td>{{ item.productDescription }}</td>
        <td>{{ item.productPrice }}</td>
        <td>
          <img
            style="width: 50px; height: 50px"
            src="{{ item.productImage }}"
          />
        </td>
        <td>
          <i
            class="bi bi-trash3-fill"
            style="cursor: pointer"
            (click)="deleteProduct(item.id)"
          ></i>
          &nbsp;
          <i
            routerLink="/sellerupdate/{{ item.id }}"
            class="bi bi-pencil-fill"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
