<div *ngIf="!showLogin">
  <h1>Seller Sign-up</h1>
  <div class="container-fluid">
    <form
      #SellerSignUpform="ngForm"
      (ngSubmit)="signupSeller(SellerSignUpform.value)"
    >
      <div class="form-group">
        <label for="exampleInputName1">Name</label>
        <input
          type="text"
          class="form-control"
          ngModel
          name="name"
          id="exampleInputName"
          aria-describedby="emailHelp"
          placeholder="Enter name"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          ngModel
          name="email"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          ngModel
          name="password"
          id="exampleInputPassword1"
          placeholder="Password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Sign-Up</button>
    </form>

    <a (click)="openLogin()"
      >Already have Account
      <span style="color: blue; cursor: pointer"> to login</span></a
    >
  </div>
</div>

<div *ngIf="showLogin">
  <h1>Seller Login</h1>
  <div class="container-fluid">
    <form
      #SellerLoginform="ngForm"
      (ngSubmit)="LoginSeller(SellerLoginform.value)"
    >
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          ngModel
          name="email"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          ngModel
          name="password"
          id="exampleInputPassword1"
          placeholder="Password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <p style="color: red">{{ authError }}</p>
    </form>
    <a (click)="openSignUp()"
      >Don't Have Account?
      <span style="color: blue; cursor: pointer">Click to Register</span></a
    >
  </div>
</div>
