<!-- <div class="row">
  <div class="col-sm-7" style="border: solid black">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of cartData">
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{ item.productName }}</td>
          <td>{{ item.productDescription }}</td>
          <td>{{ item.productPrice }}</td>
          <td>{{ item.productQuantity }}</td>
          <td><button (click)="removeItem(item.id)">remove to cart</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
