
<div class="row" *ngIf="searchResultdata">
    <div class="col-sm-3" *ngFor="let serchItem of searchResultdata">
      <div class="card" style="width: 18rem">
        <a routerLink="/product_detail/{{serchItem.id}}">
        <img
          class="card-img-top"
          style="height: 200px; width: 100%"
          src="{{ serchItem.productImage }}"
          alt="{{ serchItem.productImage }}"
        />
      </a>
      
        <div class="card-body" style="height: auto">
          <h3>{{ serchItem.productName }}</h3>
          <h4>$ {{ serchItem.productPrice }}</h4>
          <p class="card-text">
            {{ serchItem.productDescription }}
          </p>
          <div class="buttons">
            <a href="">view detail</a>
            <a href="">add to card</a>
          </div>
        </div>
      </div>
    </div>
  </div>