.productimage{
    /* object-fit: contain; */
    height: 833px;
    width: 100%;
}

.carousel-caption{
    background: #00000082;
    border-radius: 5px;
}
.row{
    margin: 40px;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.card{
    height: 500px;
}